In [2]:
import pandas as pd
from datetime import date

In [3]:
df1=pd.read_csv("airlines.csv")
df2=pd.read_csv("flights.csv")
df3=pd.read_csv("planes.csv")
df4=pd.read_csv("weather.csv")
df5=pd.read_csv("airports.csv")

### 1. how many total number of days does the flights table cover?

In [4]:
#df2['date']=df2['day']+df2['month']+df2['year']
df2["Date"] = pd.to_datetime(df2["year"].astype(str) + "/" + df2["month"].astype(str) + "/" + df2["day"].astype(str))
df2.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,Date
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0,2013-01-01
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0,2013-01-01
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0,2013-01-01
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0,2013-01-01
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0,2013-01-01

In [5]:
df2["Date"]

0        2013-01-01
1        2013-01-01
2        2013-01-01
3        2013-01-01
4        2013-01-01
            ...
336771   2013-09-30
336772   2013-09-30
336773   2013-09-30
336774   2013-09-30
336775   2013-09-30
Name: Date, Length: 336776, dtype: datetime64[ns]

In [9]:
x=set(df2["Date"])
len(x)

365

In [ ]:
# Ans: The flights dataset cover all 365 days

### 2. how many departure cities (not airports) does the flights database cover?

In [10]:
y=set(df2["origin"])
len(y)

3

In [ ]:
# Ans: There are 3 departure cities the flights dataset cover

### 3. what is the relationship between flights and planes tables?

In [91]:
df2.corrwith(df3, axis = 0)

year        NaN
air_time    NaN
arr_delay   NaN
arr_time    NaN
day         NaN
dep_delay   NaN
dep_time    NaN
distance    NaN
engines     NaN
flight      NaN
hour        NaN
minute      NaN
month       NaN
seats       NaN
speed       NaN
dtype: float64

In [ ]:
# Ans: From the above result it is clear that there is no relation between flights and planes datasets

### 4. which airplane manufacturer incurred the most delays in the analysis period?

In [88]:
df_merged=pd.merge(df2,df3)
df_merged.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,...,hour,minute,Date,type,manufacturer,model,engines,seats,speed,engine
0,2013,1,18,1846.0,36.0,2156.0,36.0,UA,N37465,1292,...,18.0,46.0,2013-01-18,Fixed wing multi engine,BOEING,737-924ER,2,191,NaN,Turbo-fan
1,2013,10,3,1257.0,0.0,1544.0,-18.0,UA,N37465,1158,...,12.0,57.0,2013-10-03,Fixed wing multi engine,BOEING,737-924ER,2,191,NaN,Turbo-fan
2,2013,10,3,2058.0,-1.0,2323.0,-35.0,UA,N37465,1416,...,20.0,58.0,2013-10-03,Fixed wing multi engine,BOEING,737-924ER,2,191,NaN,Turbo-fan
3,2013,10,4,1003.0,3.0,1300.0,-6.0,UA,N37465,1735,...,10.0,3.0,2013-10-04,Fixed wing multi engine,BOEING,737-924ER,2,191,NaN,Turbo-fan
4,2013,10,7,1926.0,81.0,2123.0,55.0,UA,N37465,1139,...,19.0,26.0,2013-10-07,Fixed wing multi engine,BOEING,737-924ER,2,191,NaN,Turbo-fan

In [34]:
df_mer = pd.DataFrame(df_merged, columns = ["arr_delay","manufacturer"])
df_mer1 = df_mer.loc[df_mer["arr_delay"] > 0]
df_mer1

      arr_delay manufacturer
0          36.0       BOEING
4          55.0       BOEING
7          35.0       BOEING
8           3.0       BOEING
14         11.0       BOEING
...         ...          ...
4619        2.0       BOEING
4624        5.0       BOEING
4625       13.0       BOEING
4626       29.0       BOEING
4628        7.0       BOEING

[1694 rows x 2 columns]

In [97]:
df_mer2=df_mer1.groupby(["manufacturer"]).count().sort_values(by="arr_delay",ascending=False)
df_mer2

                  arr_delay
manufacturer
BOEING                  578
EMBRAER                 541
AIRBUS                  382
BOMBARDIER INC          180
AIRBUS INDUSTRIE         13

In [85]:
df_mer2.idxmax()

arr_delay    BOEING
dtype: object

In [ ]:
# Ans: BOEING is the manufacturer that has most arrival delays

### 5. which are the two most connected cities?

In [95]:
df2[['origin','dest']].value_counts()

origin  dest
JFK     LAX     11262
LGA     ATL     10263
        ORD      8857
JFK     SFO      8204
LGA     CLT      6168
                ...
JFK     STL         1
EWR     LGA         1
LGA     LEX         1
JFK     MEM         1
        BHM         1
Length: 224, dtype: int64

In [ ]:
# ANS: From the above result, JFK and LAX are the 2 most connected cities